/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('erp.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Login Form Styles */
.login-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    position: relative;
    backdrop-filter: blur(5px);
}

.login-form h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.login-form form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    font-weight: bold;
    margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: border-color 0.3s ease;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
    border-color: #4CAF50;
    outline: none;
}

.login-form input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.login-form input[type="submit"]:hover {
    background-color: #3e8e41;
}

/* Error Message Styles */
.login-form p {
    text-align: center;
    margin-bottom: 20px;
    color: #f44336;
    font-weight: bold;
}

/* Responsive Styles */
@media (max-width: 480px) {
    .login-form {
        padding: 20px;
    }
}